<%- include('header') -%>


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>WEB MESSIN</h1>
    </div>
    <div class="col-lg-6">
      <a class="btn btn-dark" href="/register">Register</a>
    </div>
    <div class="col-lg-6">
      <a class="btn btn-dark" href="/login">Login</a>
    </div>
    <div class="col-lg-12">
      <a class="btn btn-dark" href="/imgs">images</a>
    </div>
    <div class="col-lg-12">
      <a class="btn btn-dark" href="/logout">logout</a>
    </div>
  </div>
</div>
<%- include('footer') -%>
