<%- include('header') -%>
<h1>WEB MESSIN - login</h1>
<form  class= "form" action="/login" method="post">
  <input class="btn btn-dark" type="text" name="username" value="">
  <input class="btn btn-dark" type="password" name="password" value="">
  <button class="btn btn-dark" type="submit" name="button">Enter</button>
</form>

<%- include('footer') -%>
