<%- include('header') -%>
<h1>WEB MESSIN - register</h1>
<form  action="/register" method="post">
  <input class="btn btn-dark" type="text" name="username" value="">
  <input class="btn btn-dark" type="password" name="password" value="">
  <button class="btn btn-dark" type="submit" name="button">Enter</button>
</form>

<%- include('footer') -%>
