<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Web messin</title>
    <link rel="stylesheet" href="styles.css">
      <script type="text/javascript" src='shoppingCart.js'> </script>
  </head>
  <body>
  <h1>WEB MESSIN - shopping cart</h1>

<%- include('footer') -%>
