/* BASIC */

body{
  background: grey;
  text-align: center;
}


/* Page */

.container{
  margin-top: 30px;
}

.img{
  width: 50%;
  height:500px;
}

/***** posts*****/
.card{
  text-align:center;
  margin: 4px;
  position: relative;
  left:100px;
  width: 75%;
  height:50rem;

}
